{{- $proxyFullname := include "proxy.fullname" . }}
{{- range .Values.minecraftProxy.extraPorts }}
{{- if default "" .ingress.enabled }}
{{- $servicePort := .service.port }}
{{- $serviceName := printf "%s-%s" $proxyFullname .name }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $serviceName }}
  namespace: "{{ $.Release.Namespace }}"
  {{- if .ingress.annotations }}
  annotations: {{- toYaml .ingress.annotations | nindent 4 }}
  {{- end }}
  labels:
    app: {{ $serviceName }}
    chart: {{ template "proxy.fullname" . }}
    release: "{{ $.Release.Name }}"
    heritage: "{{ $.Release.Service }}"
spec:
{{- if .ingress.ingressClassName }}
  ingressClassName: {{ .ingress.ingressClassName }}
{{- end }}
{{- if .ingress.tls }}
  tls:
  {{- range .ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .ingress.hosts }}
  - host: {{ .name }}
    http:
      paths:
      - path: {{ .path | default "/" }}
        pathType: Prefix
        backend:
          service:
            name: {{ $serviceName }}
            port:
              number: {{ $servicePort }}
  {{- end }}
{{- end }}
{{- end }}
