apiVersion: v1
kind: Service
metadata:
  name: {{ template "minecraft.fullname" . }}
  labels:
    app: {{ template "minecraft.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  {{- if .Values.serviceAnnotations }}
  annotations:
    {{- range $key, $value := .Values.serviceAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
{{- if (or (eq .Values.minecraftServer.serviceType "ClusterIP") (empty .Values.minecraftServer.serviceType)) }}
  type: ClusterIP
{{- else if eq .Values.minecraftServer.serviceType "LoadBalancer" }}
  type: {{ .Values.minecraftServer.serviceType }}
  {{- if .Values.minecraftServer.loadBalancerIP }}
  loadBalancerIP: {{ .Values.minecraftServer.loadBalancerIP }}
  {{- end }}
  {{- if .Values.minecraftServer.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
{{ toYaml .Values.minecraftServer.loadBalancerSourceRanges | indent 4 }}
  {{- end -}}
{{- else }}
  type: {{ .Values.minecraftServer.serviceType }}
{{- end }}
  {{- if .Values.minecraftServer.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.minecraftServer.externalTrafficPolicy }}
  {{- end }}
  ports:
  - name: minecraft
    port: {{ .Values.minecraftServer.serverPort }}
    targetPort: minecraft
    {{- if .Values.minecraftServer.nodePort }}
    nodePort: {{ .Values.minecraftServer.nodePort }}
    {{- end }}
    protocol: UDP
  {{- if .Values.minecraftServer.enableSSH }}
  - name: minecraft-ssh
    {{- if .Values.minecraftServer.exposedPortSSH }}
    port: {{ .Values.minecraftServer.exposedPortSSH }}
    {{- else }}
    port: 2222
    {{- end }}
    targetPort: minecraft-ssh
    {{- if .Values.minecraftServer.nodePortSSH }}
    nodePort: {{ .Values.minecraftServer.nodePortSSH }}
    {{- end }}
    protocol: TCP
  {{ end }}
  selector:
    app: {{ template "minecraft.fullname" . }}
