apiVersion: v1
kind: Service
metadata:
  name: {{ template "minecraft.fullname" . }}
  labels:
    app: {{ template "minecraft.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
  annotations:
{{ toYaml .Values.serviceAnnotations | indent 4 }}
spec:
{{- if (or (eq .Values.minecraftServer.serviceType "ClusterIP") (empty .Values.minecraftServer.serviceType)) }}
  type: ClusterIP
{{- else if eq .Values.minecraftServer.serviceType "LoadBalancer" }}
  type: {{ .Values.minecraftServer.serviceType }}
  {{- if .Values.minecraftServer.loadBalancerIP }}
  loadBalancerIP: {{ .Values.minecraftServer.loadBalancerIP }}
  {{- end }}
  {{- if .Values.minecraftServer.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
{{ toYaml .Values.minecraftServer.loadBalancerSourceRanges | indent 4 }}
  {{- end -}}
{{- else }}
  type: {{ .Values.minecraftServer.serviceType }}
{{- end }}
{{- if .Values.minecraftServer.clusterIP }}
  clusterIP: {{ .Values.minecraftServer.clusterIP }}
{{- end }}
  {{- if .Values.minecraftServer.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.minecraftServer.externalTrafficPolicy }}
  {{- end }}
  ports:
  - name: minecraft
    port: {{ .Values.minecraftServer.servicePort | default 25565 }}
    targetPort: minecraft
    {{- if .Values.minecraftServer.nodePort }}
    nodePort: {{ .Values.minecraftServer.nodePort }}
    {{- end }}
    protocol: TCP
  {{- range .Values.minecraftServer.extraPorts }}
  {{- if and .service.enabled .service.embedded }}
  - name: {{ .name }}
    port: {{ .service.port }}
    targetPort: {{ .name }}
    {{- if .service.nodePort }}
    nodePort: {{ .service.nodePort }}
    {{- end }}
    {{- if .protocol }}
    protocol: {{ .protocol }}
    {{- else }}
    protocol: TCP
    {{- end }}
  {{- end }}
  {{- end }}
  selector:
    app: {{ template "minecraft.fullname" . }}
  {{- if .Values.minecraftServer.externalIPs }}
  externalIPs:
    {{- with .Values.minecraftServer.externalIPs }}
      {{- range . }}
        - {{ . | quote }}
      {{- end }}
    {{- end }}
  {{- end }}
