{{- if and .Values.mcbackup.enabled .Values.minecraftServer.rcon.enabled (not .Values.mcbackup.rcloneConfigExistingSecret) }}
{{- if eq .Values.mcbackup.backupMethod "rclone" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "minecraft.fullname" . }}-rclone-config
  labels:
    app: {{ template "minecraft.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: Opaque
data:
  rclone.conf: |-
{{- if .Values.mcbackup.rcloneConfig }}
{{ .Values.mcbackup.rcloneConfig | b64enc | quote | indent 4 }}
{{- end }}
{{- end }}
{{- end }}